body {
color: #555
}

form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #f4f7f8;
    border-radius: 8px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

fieldset {
    border: none;
    margin-bottom: 30px;
}

legend {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

legend::before {
    content: '';
    background-color: green;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
}

input, select {
    /* box-sizing: border-box; 保证盒子不会因为加padding 边框等变大 */
    box-sizing: border-box;
}

.textInput, select {
    background-color: #e8eeef;
    border: none;
    padding: 15px 10px;
    width: 100%;
    color: #8a97a0;
    border-radius: 5px;
    margin-bottom: 30px;
}

select{
    appearance: none;
    background-image: url();
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 20px;
}

button {
    padding: 10px;
    color: #fff;
    background-color: green;
    border-radius: 5px;
    width: 100%;
    border: none;
    font-size: 18px;
}

@media screen and (max_width : 580px){
    form{
        width: 300px;
    }
}