* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #303032;
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12,minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.cards {
    display: grid;
    /* start on column2 and span 12 columns */
    grid-column: 2 /span 12;
    grid-template-columns: repeat(12,minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    /* span 4 columns */
    grid-column-end: span 4;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.card:hover {
    transform: translateY(-10px);
}

.card__image-container {
    width: 100%;
}

.card__image-container img {
    width: 100%;
}

@media screen and (max-width:1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media screen and (max-width:700px) {
    main {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
}

@media screen and (max-width:500px) {
    main {
        grid-gap: 10px;
        grid-template-columns: 10px repeat(6,1fr) 10px;
    }

    .cards {
        grid-column: 2 /span 6;
        grid-template-columns: repeat(6,1fr);
    }
    
    .card {
        grid-column-end: span 6;
    }
}